@using Artico.Infrastrucutre.Data.Models
@inject SignInManager<ApplicationUser> SignInManager

<nav class="mt-2">
	<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
		<!-- Add icons to the links using the .nav-icon class
			 with font-awesome or any other icon font library -->
		<li class="nav-item">
			<a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
		</li>
		@*<li class="nav-item">
			<a class="nav-link active" asp-controller="Book" asp-action="Add">Add Book<i class="nav-link"></i></a>
		</li>
		<li class="nav-item">
			<a class="nav-link active" asp-controller="Book" asp-action="All">All Books<i class="nav-link"></i></a>
		</li>*@
	</ul>
</nav>