<!DOCTYPE html>
<html>
<head>
	<title>Random Number Generator</title>
</head>
<body>
	<h1>Random Number Generator</h1>
	<div>
		<button id="add-number">Add Number</button>
		<button id="sum-numbers">Sum Numbers</button>
		<button id="clear-numbers">Clear Numbers</button>
	</div>
	<div>
		<ul id="number-list"></ul>
		<p>Sum of numbers: <span id="result"></span></p>
	</div>


</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
	$(document).ready(function () {
		$("#add-number").click(function () {
			$.ajax({
				url: "/Numbers/AddNumber",
				type: "GET",
				dataType: "json",
				success: function (data) {
					$("#number-list").append("<li>" + data + "</li>");
				}
			});
		});

		$("#sum-numbers").click(function () {
			var numbers = [];
			$("#number-list li").each(function () {
				numbers.push(parseInt($(this).text()));
			});

			if (numbers.length > 0) {
				$.ajax({
					url: "/Numbers/SumNumbers",
					type: "POST",
					data: JSON.stringify(numbers),
					contentType: "application/json; charset=utf-8",
					dataType: "json",
					success: function (data) {
						$("#result").text(data.sum);
					},
					error: function (jqXHR, textStatus, errorThrown) {
						console.log(jqXHR.responseText);
					}
				});
			}
		});

		$("#clear-numbers").click(function () {
			$.ajax({
				url: "/Numbers/ClearNumbers",
				type: "GET",
				dataType: "json",
				success: function (data) {
					$("#number-list").empty();
					$("#result").text("");
				}
			});
		});
	});
</script>
</html>
